.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >* {
        grid-column: 2;
    }

    >*.full {
        grid-column: 1 / -1;
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }
}

main {
    grid-column: 2;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 200px;
    grid-template-rows: 150px 1fr 1fr 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "toy-filter toy-filter toy-filter toy-filter toy-filter"
        ". toy-list toy-list toy-list ."
        ". toy-list toy-list toy-list ."
        ". toy-list toy-list toy-list .";
}

.toy-filter {
    grid-area: toy-filter;
}

.toy-list {
    grid-area: toy-list;
}