.toy-edit {
    grid-area: toy-list;
}

.toy-edit form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    margin: auto;
    background-color: var(--clr0);
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 3px #565454;
    padding: 20px;
    position: relative;
}

.toy-edit form p {
    font-family: ProductSans-medium;
    font-size: 1.2rem;
}

.toy-edit form .save-action, .toy-edit .return-action {
    position: absolute;
    color: var(--clr-1);
    transition: 0.4s;
    font-size: 1.5rem;
}

.toy-edit .save-action {
    bottom: 10px;
    right: 10px;
}

.toy-edit .return-action {
    top: 10px;
    left: 10px;
}

.toy-edit form .save-action:hover, .toy-edit .return-action:hover{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--clr-2);
    cursor: pointer;
    
}

.toy-edit .el-radio-group {
    width: 163px;
}

